/* BASIC SETUP */
html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    color: #555555;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    text-align: center;
    position: relative;
    font-size: 16px;
  }
  
  /* CONTAINER */
  .container-fluid {
    padding: 6% 5%;
  }
  
  /* @MEDIA */
  @media (max-width: 1100px) {
    .container-fluid {
      padding: 9% 5%;
    }
    .gallery-section img {
      max-height: 490px;
    }
  }
  
  @media (max-width: 850px) {
    body {
      font-size: 15px;
    }
    .container-fluid {
      padding: 13% 5%;
    }
    .gallery-section img {
      max-height: 405px;
    }
  }
  
  @media (max-width: 700px) {
    .container-fluid {
      padding: 17% 5%;
    }
    .gallery-section img {
      max-height: 310px;
    }
  }
  
  @media (max-width: 550px) {
    body {
      font-size: 14px;
    }
    .container-fluid {
      padding: 21% 5%;
    }
    .gallery-section img {
      max-height: 255px;
    }
  }
  
  @media (max-width: 450px) {
    .container-fluid {
      padding: 25% 5%;
    }
  }
  
  @media (max-width: 300px) {
    body {
      font-size: 13px;
    }
    .container-fluid {
      padding: 30% 5%;
    }
    .gallery-section img {
      max-height: 145px;
    }
  }
  
  @media (min-width: 1100px) {
    .gallery-section img {
      max-height: 520px;
    }
  }
  
  /* COLORED SECTION */
  .colored-section {
    color: white;
  }
  
  .colored-section h3 {
    color: #ffffff;
    margin: 1% 0;
  }
  
  /* HEADING */
  h1 {
    font-size: 4.3em;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
  }
  
  h2 {
    font-size: 4em;
    font-weight: 300;
  }
  
  h3 {
    font-size: 2.3em;
    margin: 1% 0 5%;
    color: #393e46;
  }
  
  p {
    font-size: 1.4em;
  }
  
  h3::after {
    display: block;
    height: 3px;
    background-color: #007bff;
    content: " ";
    width: 100px;
    margin: 30px auto;
    margin-bottom: 6rem;
  }
  
  .footer-section h3::after {
    display: block;
    height: 3px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 30px auto;
  }
  
  .gallery-section h3::after {
    display: block;
    height: 3px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 30px auto;
  }
  
  /* NAVIGATION BAR */
  .navbar {
    color: white;
  }
  
  .nav-item {
    padding: 3% 1em 0;
    font-weight: 300;
  }
  
  .nav-link {
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 300;
  }
  
  .nav-item a:hover,
  .nav-item a:active {
    color: #fb8b24 !important;
    -webkit-transition: .5s color;
    transition: .5s color;
  }
  
  .nav-link {
    text-align: left;
  }
  
  .bg-transparent {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .bg-transparent.scrolled {
    /* background-color: #393e46 !important; */
    background-color: #028090 !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  @media (max-width: 991px) {
    .navbar {
      background-color: #393e46 !important;
    }
  }
  
  /* HERO SECTION */
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.651)), to(rgba(0, 0, 0, 0.753))), url(../img/background/nepal.jfif);
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.753)), url(../img/background/nepal.jfif);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
  }
  
  .btn-primary:hover {
    color: #007bff !important;
    background-color: #e9e9e9 !important;
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    -webkit-transition: all 0.5s, 0.2 -webkit-transform !important;
    transition: all 0.5s, 0.2 -webkit-transform !important;
    transition: all 0.5s, 0.2 transform !important;
    transition: all 0.5s, 0.2 transform, 0.2 -webkit-transform !important;
  }
  
  .hero-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10% 0 12%;
  }
  
  .hero-btn {
    border-radius: 200px;
    padding: 5px 25px;
    margin-top: 15px;
  }
  
  /* ABOUT SECTION */
  .about-section {
    background-color: #ddf3f5;
  }
  
  .features {
    text-align: center;
  }
  
  .features p {
    text-align: justify;
    padding: 0 3%;
  }
  
  .feature {
    padding: 5% 0;
    color: #e85d04;
  }
  
  .about-section h4 {
    padding: 4% 0;
  }
  
  /* PORTOFOLIO SECTION */
  .portofolio-section {
    background-color: #ffb703;
  }
  
  .portofolio-section p {
    font-size: 1.2em;
    text-align: justify;
  }
  
  .card-column {
    margin-bottom: 10%;
  }
  
  .bg-port {
    background-color: #3a506b;
  }
  
  /* GALLERY SECTION */
  .gallery-section {
    background-image: url(../img/background/nepal2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .gallery-section img {
    border: solid 5px white;
  }
  
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  
  .gallery-section h3 {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  /* CONTACT SECTION */
  .contact-section {
    background-color: #a8dadc;
    padding: 0 10%;
  }
  
  @media (max-width: 1120px) {
    .contact-section {
      padding: 0 5%;
    }
  }
  
  label {
    font-weight: 400;
  }
  
  .contact-column {
    margin-bottom: 5%;
  }
  
  .contact-section .card {
    background-color: #ddf3f5;
    border: none;
  }
  
  .contact-section .card-body {
    background-color: #ddf3f5;
  }
  
  /* FOOTER */
  .footer-section {
    background-color: #3c096c;
    padding-top: 2%;
    padding-bottom: 10px;
  }
  
  .social {
    margin: 0 0.5rem;
    color: #fff;
  }
  
  .social:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  
  .footer-section p {
    margin: 0;
    font-size: 1em;
  }
  
  .footer-section li {
    display: inline;
  }
  
  .social:hover {
    color: #ffc857;
    -webkit-transition: .3s color;
    transition: .3s color;
  }
  /*# sourceMappingURL=style.css.map */